Source: libterm-readline-gnu-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Niko Tyni <ntyni@debian.org>,
           gregor herrmann <gregoa@debian.org>,
           Salvatore Bonaccorso <carnil@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libreadline-dev,
               perl-xs-dev,
               perl:native
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libterm-readline-gnu-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libterm-readline-gnu-perl.git
Homepage: https://metacpan.org/release/Term-ReadLine-Gnu
Rules-Requires-Root: no

Package: libterm-readline-gnu-perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: Perl extension for the GNU ReadLine/History Library
 Term::ReadLine::Gnu is a Perl interface to the GNU ReadLine Library, allowing
 developers to provide features including input line editing, input history
 management, word completion and more.
 .
 Through this module, you have access to almost all variables and functions as
 documented in the GNU ReadLine/History Library. This means you can write your
 custom editing function, custom completion function, and so on, with Perl.
 You may find it useful for prototyping before programming with C.
